<div>
    <h4>Nombre de evento</h4>
    <p>fecha</p>
    <p>lugar</p>
    <p>artista</p>
    <button>tipo de evento</button>
    
</div>

<style>
    div {
        max-block-size: 40rem;
        background-color: beige;
        color: var(--color-moira-contrast);
        border-radius: 65px;
        padding: 2rem;
        inline-size: 100%;
    }
</style>