---
import Navigation from '@components/Navigation.astro'
const {pageTitle} = Astro.props
import '@styles/global-styles.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<slot />
	</body>
</html>
